!!! 5
%html(lang="en-US")
  %head
    %meta(charset="utf-8")
    %title jQuery Remember State | Remember and Restore Form State Using localStorage
    = stylesheet_link_tag "application"
    = javascript_include_tag  "jquery", "jquery.remember-state"
    = yield_content :head
  %body
    = yield
