main {
  display: block;
  width: 840px;
  margin: 0 auto; }
form {
  width: 500px;
  padding: 25px 0;
  margin: 0 auto;
  font: normal 13px Arial, Helvetica, sans-serif;
  color: #333333; }
form.half {
  display: inline-block;
  width: 400px;
  margin: 0;
  vertical-align: top; }
  form.half + form.half { margin-left: 30px; }
fieldset {
  width: 245px;
  padding: 0;
  margin: 0 auto;
  border: none; }
dl, dd { margin: 0; }
dt {
  padding: 0 0 5px 0;
  font-weight: bold; }
dd { padding: 0 0 20px 0; }
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="week"],
input[type="time"],
input[type="month"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="search"],
input[type="color"],
textarea {
  width: 230px;
  height: 24px;
  padding: 2px 5px;
  font: normal 14px Arial, Helvetica, sans-serif;
  color: #333333;
  border: 1px solid #cccccc; }
textarea {
  max-width: 230px;
  height: 85px;
  max-height: 170px; }
select[multiple] {
  width: 240px;
  color: #333333;
  border: 1px solid #cccccc; }
ul {
  padding: 0 0 0 10px;
  margin: 0;
  list-style: none; }
p.remember_state {
  padding: 7px 15px;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #00aa00;
  border: 2px solid #00aa00;
  background: #99ff99; }
  p.remember_state a {
    font-weight: bold;
    color: #0066cc; }
